<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EscanerSC500.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EscanerSC500.Properties.Settings>
            <setting name="ServiceURL" serializeAs="String">
                <value>http://localhost:1028/ScanQR</value>
            </setting>
            <setting name="ClienteAttr" serializeAs="String">
                <value>id_cliente</value>
            </setting>
            <setting name="SucursalAttr" serializeAs="String">
                <value>id_sucursal</value>
            </setting>
            <setting name="Sucursal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProductID" serializeAs="String">
                <value>1701</value>
            </setting>
            <setting name="VendorID" serializeAs="String">
                <value>05E0</value>
            </setting>
            <setting name="DeviceID" serializeAs="String">
                <value>1_1</value>
            </setting>
            <setting name="DeviceAttr" serializeAs="String">
                <value>id_device</value>
            </setting>
        </EscanerSC500.Properties.Settings>
    </userSettings>
</configuration>